<section class="container-fluid py-5">
   
    <div *ngIf="!isListEmpty">
        <div *ngFor="let post of postList">
            <br>
            <div class="outer-box">
                <img class="profile-box" src="{{url}}{{post.user.filePath}}" height="25" width="25">&nbsp;
                <h6 class="heading">{{post.user.name}}&nbsp;</h6>
                
                <button class="button-box" *ngIf="showdelete" mat-button (click)="deletePost(post._id)">Delete</button>&nbsp;
                <button  mat-button *ngIf="showdelete" (click)="openDialog(post._id)">Show Likes</button>
                <div class="inner-box">
                    <img class='img-box' src="{{url}}{{post.filePath}}" height="170" width="250">
                    {{post.content}}
                </div>
                <button mat-button *ngIf="!post.liked" (click)="createLike(post._id)">Like</button>
                <button mat-button *ngIf="post.liked" (click)="unlike(post._id)">Unlike</button>
                Likes:{{post.likes.length}}
                Comments:{{post.comments.length}}
            </div>
            <app-comments-create [post_id]="post._id" (newItemEvent)="addComment($event)"></app-comments-create>
            <app-comments-list [post_id]="post._id"></app-comments-list><br><br>

        </div>

        <button mat-button class="button1" color="primary" (click)="fetch()">Show More</button>
    </div>
    <div *ngIf="isListEmpty" class="text-center pt-3">
        <h5 class="text-danger m-0">No Post found</h5>
    </div>
</section>
