.box-second{
    height:50vh;
    width: 50vw;
    border:2px blue solid;
    border-width: 10px;
}
.box-first{
    height:80vh;
    padding: 2vh;
   
}
.box-third{
    height: 40vh;
    border:1px black solid;
}
.textarea{
    border:1px black solid;
}

