<section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    
      <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide-item slide-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-slide-item-content">
                                    <h2>Find Your <br> Friends Here</h2>
                                    <p>
                                        We won't let distance ruin your friendship .<br>Get more close to your friends ,share posts ,have chats.
                                    </p>
                                    
                                    
                                </div><!-- /.single-slide-item-content-->
                            </div><!-- /.col-->
                        </div><!-- /.row-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->
            </div><!-- /.item .active-->
            <div class="item">
                <div class="single-slide-item slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-slide-item-content">
                                    <h2>
                                        Make Your Bonds <br> Strong
                                    </h2>
                                    <p>
                                        Increase your happiness by Sharing it<br> Make new friends ,enjoy your life to it's fullest
                                    </p>
                                   
                                </div><!-- /.single-slide-item-content-->
                            
                            </div><!-- /.col-->
                        </div><!-- /.row-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->
            </div><!-- /.item .active-->
        </div><!-- /.carousel-inner-->

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="lnr lnr-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="lnr lnr-chevron-right"></span>
        </a>
    </div><!-- /.carousel-->

</section><!-- /.header-slider-area-->

<section   class="testemonial">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                <span>
                    Owner of Site
                </span>
            </h2>
        </div><!--/.section-header-->
        <div class="owl-carousel owl-theme" id="testemonial-carousel">
            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="assets/images/client/testimonial1.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
                        <span class="icon section-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </span>
                        <p>
                            I have created this site to get better hands on MEAN stack Development .Brinf your friends here and share all your memories with them
                        </p>
                        <h3>
                            <a href="#">
                                Varun Narang
                            </a>
                        </h3>
                        <h4>Web Developer , Owner of Site</h4>
                    </div><!--/.home1-testm-txt-->	
                </div><!--/.home1-testm-single-->
            </div><!--/.item-->
           
        </div><!--/.testemonial-carousel-->
    </div><!--/.container-->

</section><!--/.testimonial-->	