	<!--hm-footer start-->
    <section class="hm-footer">
        <div class="container">
            <div class="hm-footer-details">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title ">
                                <div class="logo">
                                    <h1 class="tcolor">SOCIAL</h1>
                                </div><!-- /.logo-->
                            </div><!--/.hm-foot-title-->
                            <div class="hm-foot-para">
                                <p>
                                    Social  is a platform where we can post, search, chat and get connected with other people
                                </p>
                            </div><!--/.hm-foot-para-->
                            <div class="hm-foot-icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100016438819431"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="https://www.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="https://www.linkedin.com/in/varun-narang-a89aa2204/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="https://twitter.com/VarunNa92666418"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                                </ul><!--/ul-->
                            </div><!--/.hm-foot-icon-->
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    <div class=" col-md-2 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title">
                                <h4>Useful Features</h4>
                            </div><!--/.hm-foot-title-->
                            <div class="footer-menu ">	  
                                <ul class="">
                                    <li class="tcolor">Home</li>
                                    <li class="tcolor">Feeds</li>
                                    <li class="tcolor">Users</li>
                                    <li class="tcolor">Post</li>
                                    <li class="tcolor">Friends</li>
                                    <li class="tcolor">Friend Request</li> 
                                </ul>
                            </div><!-- /.footer-menu-->
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    <div class=" col-md-3 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title">
                                <h4>Contact Us</h4>
                            </div><!--/.hm-foot-title-->
                            <div class="hm-para-news">
                                <p class="tcolor">
                                    Phone no : +91 9667068510 <br><br>
                                    Email id : varunnarang01@gmail.com
                                </p>
                                
                            </div><!--/.hm-para-news-->
                           
                            
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    <div class=" col-md-3 col-sm-6  col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title">
                                <h4> Office :</h4>
                            </div><!--/.hm-foot-title-->
                            <div class="hm-foot-para">
                                <p class="para-news" class="tcolor">
                                    291 <br>opposite to 12/4<br> Malviya Nagar <br>New Delhi -110017
                                </p>
                            </div><!--/.hm-foot-para-->
                           
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.hm-footer-details-->
        </div><!--/.container-->

    </section><!--/.hm-footer-details-->
    <!--hm-footer end-->
    
    <!-- footer-copyright start -->
    <footer class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="foot-copyright pull-left">
                        <p>
                            &copy; All Rights Reserved. Designed and Developed by
                             <span class="tcolor">Varun Narang</span>
                        </p>
                    </div><!--/.foot-copyright-->
                </div><!--/.col-->
                <div class="col-sm-5">
                    <div class="foot-menu pull-right
                    ">	  
                        <ul>
                            <li class="tcolor">legal</li>
                            <li class="tcolor">sitemap</li>
                            <li class="tcolor">privacy policy</li>
                        </ul>
                    </div><!-- /.foot-menu-->
                </div><!--/.col-->
            </div><!--/.row-->
            <div id="scroll-Top">
                <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div><!--/.scroll-Top-->
        </div><!-- /.container-->

    </footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->
