<!--header start-->
<section class="header">
   <div class="container">
      <div class="header-left">
         <ul class="pull-left">
            <li>

               <i class="fa fa-phone" aria-hidden="true"></i> +91 9667068510

            </li>
            <!--/li-->

            <li>
               <i class="fa fa-envelope" aria-hidden="true"></i>varunnarang01@gmail.com
            </li>
            <!--/li-->
         </ul>
         <!--/ul-->
      </div>
      <!--/.header-left -->
      <div class="header-right pull-right">
         <ul>

            <li>
               <div class="social-icon">
                  <ul>
                     <li><a href="https://www.facebook.com/profile.php?id=100016438819431"><i
                              class="fa fa-facebook"></i></a></li>
                     <li><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
                     <li><i class="bi bi-github"></i></li>
                     <li><a href="https://www.linkedin.com/in/varun-narang-a89aa2204/"><i
                              class="fa fa-linkedin"></i></a></li>
                     <li><a href="https://twitter.com/VarunNa92666418"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                  <!--/.ul -->
               </div>
               <!--/.social-icon -->
            </li>
            <!--/li -->
         </ul>
         <!--/ul -->
      </div>
      <!--/.header-right -->
   </div>
   <!--/.container -->

</section>
<!--/.header-->
<!--header end-->

<!--menu start-->
<section id="menu">
   <div class="container">
      <div class="menubar">
         <nav class="navbar navbar-default">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>

            </div>
            <!--/.navbar-header -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse size-buttons" id="bs-example-navbar-collapse-1">
               <ul class="nav">
                  <img height='30' width='30' src="assets/images/logo/logo.png" alt="logo">
                  <h1 class="tcolor"><i class="icolor">Social</i></h1>
                  <li><button mat-button class="nav-button" [routerLink]="['/']">Home</button></li>
                  <li> <button mat-button class="buttons" [routerLink]="['/']">Home</button></li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons"
                        [routerLink]="['/post/create']">Post</button></li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons" [routerLink]="['/post/list']">Feed</button>
                  </li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons"
                        [routerLink]="['/users/list']">Users</button></li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons"
                        [routerLink]="['/friends/list']">Friends</button></li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons"
                        [routerLink]="['/request/list']">Requests</button></li>
                  <li><button *ngIf="loggedIn()" mat-button class="buttons"
                        [routerLink]="['/users/profile']">Profile</button></li>
                  <li><button *ngIf="!loggedIn()" mat-button class="buttons"
                        [routerLink]="['/user/login']">LogIn</button></li>
                  <li><button *ngIf="!loggedIn()" mat-button class="buttons"
                        [routerLink]="['/user/signup']">SignUp</button></li>
                  <li><button *ngIf="loggedIn()" mat-raised-button  (click)="Logout()">Logout</button>&nbsp;
                  </li>




               </ul>
               <!-- / ul -->
            </div><!-- /.navbar-collapse -->
         </nav>
         <!--/nav -->
      </div>
      <!--/.menubar -->
   </div><!-- /.container -->

</section>
<!--/#menu-->
<!--menu end-->

