/* // .div1{
// background-color:blue;
// height: 2%;
// width: 100%;
// } */
.buttons{
    color:white;

}
.buttons:hover{
    background-color: white;
    color:blue
}
.tcolor{
    color: white;
}
.nav-button{
   color: rgb(115 112 216);
   background-color: rgb(115 112 216);
}
.nav-button:hover{
    color: rgb(115 112 216);
    background-color: rgb(115 112 216);
 
}
.icolor{
    font-family:Lucida Handwriting;
}