<div class="button-box">
<button mat-button (click)="show()" class="positioning">Show Comments</button>
</div>
<div *ngIf="showComments">
    <div  *ngFor="let comment of commentList">
        <div class="button-box">
            <img class='img-box' src="http://localhost:3000/{{comment.user.filePath}}" height="25" width="25">
        <b> {{comment.user.name}} </b>: {{comment.content}}
         <button mat-button *ngIf="comment.self" color='primary' (click)="deleteComment(comment._id)">Dlt</button>
         </div>
    </div>
    <div *ngIf='!isListEmpty' class="button-box">
        <button mat-button (click)="showMore()" class="positioning">Show More</button>
    </div>
   
</div>
<div *ngIf="isListEmpty && showComments">
    <div class="button-box">
      <span class="positioning">  No comments </span>
        </div>
</div>
