<br>
<div class="outer-box">

  <div class="inner-box">
    <img class='img-box' src="{{url}}{{user.filePath}}" height="150" width="150">&nbsp;
    <div class='detail-box'>
      <h6> Name : {{user.first_name}}&nbsp;</h6>
      <h6>Email: {{user.email}}</h6>
      <h6>Phone no: {{user.phone_no}}</h6>
      <h6>Friends: {{user.friends.length}}</h6>
    </div>
  </div>
  <button *ngIf="(!relation) && (!self) && (!sent) && (!requested)" mat-button (click)="sendRequest()">Send
    Request</button>
  <p *ngIf="relation">You Both are friends</p>
  <button mat-button *ngIf="relation" (click)="showPost()">Posts</button>
  <p *ngIf="(!relation) && (!self) && (sent)">Request Sent</p>
  <p *ngIf="(!relation) && (!self) && (!sent) && (requested)">Requested</p>
</div><br>
<app-post-myposts *ngIf="showpost"></app-post-myposts>