<br>
<div class="outer-box">
    <h2 class="text-center">Profile</h2>
   
  <div class="inner-box">
    <img class='img-box' src="http://localhost:3000/{{user.filePath}}" height="150" width="150">&nbsp;
    <div class='detail-box'>
    <h6 > Name : {{user.first_name}}&nbsp;{{user.last_name}}</h6>
      <h6 >Email: {{user.email}}</h6>
      <h6 >Phone no: {{user.phone_no}}</h6>
      <h6 >Friends: {{user.friends.length}}</h6>
      </div>
  </div>
  <button mat-button (click)="showPost()">Posts</button>&nbsp;
  <button mat-button (click)="showSetting()">Manage Account</button>
</div><br>
<app-post-myposts *ngIf="showpost"></app-post-myposts>
<div *ngIf="showsetting" class="edit-profile">
  <button [routerLink]="['/users/edit/' + user._id]"  >Edit Profile</button>
</div>
<br>

