<div class="about-history">
  <div class="container">
    <div class="about-history-content">

      <div class="row">

        <div class="col-md-5 col-sm-12">
          <div class="single-about-history">
            <div class="about-history-img">
              <img class='image-box' src="{{url}}{{user.filePath}}" alt="about">
            </div><!--/.about-history-img-->
          </div><!--/.single-about-history-->
        </div><!--/.col-->

        <div class="col-md-offset-1 col-md-6 col-sm-12">
          <div class="single-about-history">
            <div class="about-history-txt">
              <h2>PROFILE</h2><br>
              <h3>
              <b class="tcolor">{{user.first_name}}</b>
              </h3>

              <div class="main-timeline">

                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="experience-time">
                      <h3>Status</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-10 col-sm-10">
                    <div class="timeline">
                      
                      <div class="timeline-content">
                        <h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                        
                        <ul class="description">
                          <li>{{user.last_name}}</li>

                        </ul>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="experience-time">
                      <h3>Email</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-10 col-sm-10">
                    <div class="timeline">
                      
                      <div class="timeline-content">
                        <h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                        
                        <ul class="description">
                          <li>{{user.email}}</li>
                        </ul>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="experience-time">
                      <h3>Friends</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-10 col-sm-10">
                    <div class="timeline">
                      
                      <div class="timeline-content">
                        <h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                        
                        <ul class="description">
                          <li>{{user.friends.length}}</li>

                        </ul>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="experience-time">
                      <h3>Posts</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-10 col-sm-10">
                    <div class="timeline">
                      
                      <div class="timeline-content">
                        <h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                        
                        <ul class="description">
                          <li><button mat-raised-button color="primary" (click)="showPost()">Posts</button>&nbsp;</li>
                        </ul>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div><!--/.row-->

                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="experience-time">
                      <h3>Manage Account</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-10 col-sm-10">
                    <div class="timeline">
                      
                      <div class="timeline-content">
                        <h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                        
                        <ul class="description">
                          <li> <button mat-raised-button color="primary" (click)="showSetting()">Manage Account</button></li>
                        </ul>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div>

              </div><!--.main-timeline-->
            </div><!--/.about-history-txt-->
          </div><!--/.single-about-history-->
        </div><!--/.col-->

      </div><!--/.row-->
      
      <app-post-myposts *ngIf="showpost"></app-post-myposts>
<div *ngIf="showsetting" class="edit-profile">
  <button mat-button [routerLink]="['/users/edit/' + user._id]">Edit Profile</button>
</div>
<br> 
    </div><!--/.about-history-content-->
  </div><!--/.container-->

</div><!--/.about-history-->
<!--about-history end-->

